In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\snsaka\Documents\Project_2_Retail_dataset- V2 04-07-2022\User_product_purchase_details_p2.csv')
print(df)

        User_ID Product_ID City_Category Stay_In_Current_City_Years  \
0       1000001  P00069042             A                          2
1       1000001  P00248942             A                          2
2       1000001  P00087842             A                          2
3       1000001  P00085442             A                          2
4       1000002  P00285442             C                         4+
...         ...        ...           ...                        ...
550063  1006033  P00372445             B                          1
550064  1006035  P00375436             C                          3
550065  1006036  P00375436             B                         4+
550066  1006038  P00375436             C                          2
550067  1006039  P00371644             B                         4+

        Marital_Status  Product_Category_1  Product_Category_2  \
0                    0                   3                 NaN
1                    0                   1                 6.0
2                    0                  12                 NaN
3                    0                  12                14.0
4                    0                   8                 NaN
...                ...                 ...                 ...
550063               1                  20                 NaN
550064               0                  20                 NaN
550065               1                  20                 NaN
550066               0                  20                 NaN
550067               1                  20                 NaN

        Product_Category_3  Purchase
0                      NaN      8370
1                     14.0     15200
2                      NaN      1422
3                      NaN      1057
4                      NaN      7969
...                    ...       ...
550063                 NaN       368
550064                 NaN       371
550065                 NaN       137
550066                 NaN       365
550067                 NaN       490

[550068 rows x 9 columns]

In [5]:
df1 = df.groupby(['User_ID']).sum()
print(df1)

         Marital_Status  Product_Category_1  Product_Category_2  \
User_ID
1000001               0                 213               132.0
1000002               0                 354               539.0
1000003               0                  93               117.0
1000004              14                  33               102.0
1000005             106                 659               642.0
...                 ...                 ...                 ...
1006036             514                3200              3403.0
1006037               0                 938               894.0
1006038               0                  83                93.0
1006039              74                 439               580.0
1006040               0                1141              1110.0

         Product_Category_3  Purchase
User_ID
1000001               148.0    334093
1000002               359.0    810472
1000003               148.0    341635
1000004               127.0    206468
1000005               207.0    821001
...                     ...       ...
1006036              1509.0   4116058
1006037               456.0   1119538
1006038                51.0     90034
1006039               324.0    590319
1006040               455.0   1653299

[5891 rows x 5 columns]

In [ ]:
import matplotlib.pyplot as plt
Product_Sales1 = df1['Product_category_1'].sum()
Product_Sales2 = df1['Product_category_2'].sum()
Product_Sales3 = df1['Product_category_3'].sum()
Product_Sales=['Product_Sales1']